/* Add your own css */


/*.footer {
	margin-top: 50px;
}*/

h1 {
	margin-top: 0;
}

h3 {
	text-decoration: underline;
}

ul {
	padding-left: 0;
}

p {
	font-size: 18px;
}

li {
	list-style-type: none;
	font-size: 18px;
}

.navbar {
	border-radius: 0;
}

.btn {
	background-color: #e95420;
	font-size: 16px;
}

.btn:hover {
	background-color: #d13600;
}

.btn:hover:disabled {
	background-color: #e95420;
}

label {
	font-weight: normal;
	font-size: 18px;
}

#content {
	min-width: 300px;
	margin: 0 auto;
}

input[type=radio] {
	height: 15px;
	width: 15px;
}


/* Sticky footer */

html {
	position: relative;
	min-height: 100%;
}

body {
	/* Sätt lika hög höjd här */
	margin-bottom: 60px;
}

footer {
	background-color: #d13600;
	position: absolute;
	bottom: 0;
	text-align: center;
	color: white;
	width: 100%;
	/* Som här */
	height: 60px;
}

footer .footerText {
	margin-top: 20px;
}

#content {
	background-color: #EEEEEE;
	padding: 30px;
	border-radius: 10px;
}

.message p {
	font-size: 20px;
}


/* Change font size in mobile */

@media (max-width: 376px) {
	#content p {
		font-size: 20px;
	}
	label {
		font-size: 20px;
	}
	.btn {
		font-size: 18px;
	}
}